# Project - Data Wrangling

## Data Gathering

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

import requests
import tweepy

### 1. Download the data manually and load the data into a DataFrame

In [124]:
# data downloaded
# load the data into a dataframe
df = pd.read_csv('twitter-archive-enhanced.csv')

In [125]:
df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

### 2. Make a http request and extract the content from the response

In [24]:
# make a request
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
r = requests.get(url)

In [46]:
# check the status code
r.status_code

200

In [79]:
# check the content type and encoding
r.headers['Content-type']

'text/tab-separated-values; charset=utf-8'

In [25]:
# parse the response into a list
data = []
for row in r.text.split('\n'):
    data.append(row.split('\t'))

In [76]:
data[:2]

[['tweet_id',
  'jpg_url',
  'img_num',
  'p1',
  'p1_conf',
  'p1_dog',
  'p2',
  'p2_conf',
  'p2_dog',
  'p3',
  'p3_conf',
  'p3_dog'],
 ['666020888022790149',
  'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg',
  '1',
  'Welsh_springer_spaniel',
  '0.465074',
  'True',
  'collie',
  '0.156665',
  'True',
  'Shetland_sheepdog',
  '0.0614285',
  'True']]

In [26]:
# make a DataFrame from the parsed list
# the column label is the first element of the list
df_image = pd.DataFrame(data[1:], columns=data[0])

In [92]:
# check the result
df_image.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.0614285,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.07419169999999999,True,Rhodesian_ridgeback,0.07201,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.13858399999999998,True,bloodhound,0.11619700000000001,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [28]:
df_image.to_csv('df_image.csv', index=False)

### 3. Request Tweeter API using Tweepy

In [99]:
# set up the authentication keys
import settings

auth = tweepy.OAuthHandler(settings.consumer_key, settings.consumer_secret)
auth.set_access_token(settings.access_token, settings.access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [ ]:
# query Twitter's API for JSON data for each tweet ID in the Twitter
# save each tweet's returned JSON as a new line in the tweet_json.txt file
import time

count = 0                     # counting the request
fails_dict = {}               # record the failed request
start = time.process_time()   # store the starting process time

with open('tweet_json_test.txt', 'w') as outfile:
    for id in df_image.tweet_id.values:        
        count += 1
        print(str(count) + ': ' + str(id))    # print the count
        try:
            status = api.get_status(id, tweet_mode='extended')     # request the API 
            json.dump(status._json, outfile)      # append the python dictionary to the outfile
            outfile.write('\n')
            print('Success')
        except tweepy.TweepError as e:
            print('Fail')    
            fails_dict[id] = e                     # add the error into the dictionary
            pass
end = time.process_time()                # store the ending process time
print('time elapsed: ', end - start)     # calculate the total elapsed time
print(fails_dict)                        # print the failed requests

In [43]:
# reading json from a file
df_list = []    # list of dictionary to build and convert to a DataFrame later
with open('tweet_json.txt') as json_files:
    for json_str in json_files:
        tweet = json.loads(json_str)   # deserialize each json string
#         print(json.dumps(tweet, indent=2, sort_keys=True))
#         break
        
        # extract the information we want
        tweet_id = tweet['id_str']
        favorite_count = tweet['favorite_count']
        retweet_count = tweet['retweet_count']
#         print(tweet_id)
#         print(favorite_count)
#         print(retweet_count)
#         break
        
        # append them into a list
        df_list.append( {'tweet_id': tweet_id,
                         'favorite_count': favorite_count,
                         'retweet_count': retweet_count} )

In [44]:
df_list[:5]

[{'tweet_id': '666020888022790149',
  'favorite_count': 2332,
  'retweet_count': 440},
 {'tweet_id': '666029285002620928',
  'favorite_count': 117,
  'retweet_count': 41},
 {'tweet_id': '666033412701032449',
  'favorite_count': 105,
  'retweet_count': 38},
 {'tweet_id': '666044226329800704',
  'favorite_count': 255,
  'retweet_count': 119},
 {'tweet_id': '666049248165822465', 'favorite_count': 92, 'retweet_count': 37}]

In [45]:
# create a DataFrame from the list of dictionaries
df_count = pd.DataFrame(df_list, columns = ['tweet_id', 'favorite_count', 'retweet_count'])

In [46]:
df_count.head()

             tweet_id  favorite_count  retweet_count
0  666020888022790149            2332            440
1  666029285002620928             117             41
2  666033412701032449             105             38
3  666044226329800704             255            119
4  666049248165822465              92             37

In [47]:
df_count.shape

(2059, 3)

In [48]:
df_count.to_csv('df_count.csv', index=False)

## Data Assessing

### Visual Assessment

In [37]:
df

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [38]:
df_image

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.0614285,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.07419169999999999,True,Rhodesian_ridgeback,0.07201,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.13858399999999998,True,bloodhound,0.11619700000000001,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.17027799999999998,False,Labrador_retriever,0.16808599999999999,True,spatula,0.0408359,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.0313789,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.0906465,True,papillon,0.0689569,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.09704860000000001,False,bagel,0.08585110000000001,False,banana,0.07611,False
2075,,None,None,None,None,None,None,None,None,None,None,None

In [64]:
df_count

                tweet_id  favorite_count  retweet_count
0     666020888022790149            2332            440
1     666029285002620928             117             41
2     666033412701032449             105             38
3     666044226329800704             255            119
4     666049248165822465              92             37
...                  ...             ...            ...
2054  891327558926688256           36273           8019
2055  891689557279858688           37996           7465
2056  891815181378084864           22641           3584
2057  892177421306343426           30088           5434
2058  892420643555336193           34718           7260

[2059 rows x 3 columns]

### Programmatic Assessment

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [50]:
df_image.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2076 entries, 0 to 2075
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2076 non-null   object
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   object
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   object
 5   p1_dog    2075 non-null   object
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   object
 8   p2_dog    2075 non-null   object
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   object
 11  p3_dog    2075 non-null   object
dtypes: object(12)
memory usage: 194.8+ KB

In [51]:
df_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2059 non-null   object
 1   favorite_count  2059 non-null   int64
 2   retweet_count   2059 non-null   int64
dtypes: int64(2), object(1)
memory usage: 48.4+ KB

In [53]:
df.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [54]:
df_image.isnull().sum()

tweet_id    0
jpg_url     1
img_num     1
p1          1
p1_conf     1
p1_dog      1
p2          1
p2_conf     1
p2_dog      1
p3          1
p3_conf     1
p3_dog      1
dtype: int64

In [55]:
df_count.isnull().sum()

tweet_id          0
favorite_count    0
retweet_count     0
dtype: int64

In [58]:
df.duplicated().sum()

0

In [59]:
df_image.duplicated().sum()

0

In [60]:
df_count.duplicated().sum()

0

In [61]:
df.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [62]:
df_image.describe()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
count,2076,2075,2075,2075,2075,2075,2075,2075,2075,2075,2075,2075
unique,2076,2009,4,378,2006,2,405,2004,2,408,2006,2
top,,https://pbs.twimg.com/media/C2kzTGxWEAEOpPL.jpg,1,golden_retriever,0.600276,True,Labrador_retriever,0.0693617,True,Labrador_retriever,0.121523,True
freq,1,2,1780,150,2,1532,104,3,1553,79,2,1499

In [63]:
df_count.describe()

       favorite_count  retweet_count
count     2059.000000    2059.000000
mean      7658.291404    2447.420107
std      11576.845515    4275.456658
min          0.000000      11.000000
25%       1448.000000     523.500000
50%       3364.000000    1156.000000
75%       9542.000000    2807.500000
max     149099.000000   73358.000000

In [65]:
df.name.value_counts()

None        745
a            55
Charlie      12
Lucy         11
Oliver       11
           ...
Halo          1
Adele         1
Banjo         1
Ronduh        1
Freddery      1
Name: name, Length: 957, dtype: int64

In [69]:
df_image.p1.value_counts()

golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
                     ...
microwave               1
desktop_computer        1
bighorn                 1
scorpion                1
convertible             1
Name: p1, Length: 378, dtype: int64

In [67]:
df_image.tweet_id.duplicated().sum()

0

In [68]:
df_count.tweet_id.duplicated().sum()

0

In [72]:
df_image.jpg_url.duplicated().sum()

66

In [73]:
df_image[df_image.jpg_url.duplicated()]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1297,752309394570878976,https://pbs.twimg.com/ext_tw_video_thumb/67535...,1,upright,0.303415,False,golden_retriever,0.181351,True,Brittany_spaniel,0.16208399999999998,True
1315,754874841593970688,https://pbs.twimg.com/media/CWza7kpWcAAdYLc.jpg,1,pug,0.27220500000000003,True,bull_mastiff,0.25153000000000003,True,bath_towel,0.116806,False
1333,757729163776290825,https://pbs.twimg.com/media/CWyD2HGUYAQ1Xa7.jpg,2,cash_machine,0.802333,False,schipperke,0.0455186,True,German_shepherd,0.0233535,True
1345,759159934323924993,https://pbs.twimg.com/media/CU1zsMSUAAAS0qW.jpg,1,Irish_terrier,0.25485599999999997,True,briard,0.22771599999999997,True,soft-coated_wheaten_terrier,0.22326300000000002,True
1349,759566828574212096,https://pbs.twimg.com/media/CkNjahBXAAQ2kWo.jpg,1,Labrador_retriever,0.967397,True,golden_retriever,0.0166414,True,ice_bear,0.014857599999999999,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1903,851953902622658560,https://pbs.twimg.com/media/C4KHj-nWQAA3poV.jpg,1,Staffordshire_bullterrier,0.757547,True,American_Staffordshire_terrier,0.14995,True,Chesapeake_Bay_retriever,0.047522699999999994,True
1944,861769973181624320,https://pbs.twimg.com/media/CzG425nWgAAnP7P.jpg,2,Arabian_camel,0.366248,False,house_finch,0.209852,False,cocker_spaniel,0.0464032,True
1992,873697596434513921,https://pbs.twimg.com/media/DA7iHL5U0AA1OQo.jpg,1,laptop,0.153718,False,French_bulldog,0.0999839,True,printer,0.0771299,False
2041,885311592912609280,https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg,1,Labrador_retriever,0.908703,True,seat_belt,0.0570909,False,pug,0.0119335,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.05495,True,beagle,0.0389148,True

In [78]:
df.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

### Quality Issues

##### `df` table

- Missing values in df's columns (`in_reply_to_status_id`, `in_reply_to_user_id`,  `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`, `name`, `expanded_urls`)
- Multivalue in df's `expanded_urls` column
- Doggo, floofer,	pupper,	puppo have values None, and of type object
- Html tags in df's `source` column and many duplicates
- The format of df's `timestamp` and is of type object
- `tweet_id` is of type integer
- Df's `name` column has 55 dog's name *a* and several *None* values

##### `df_image` table

- Null values in df_image's last row.
- The columns `img_num`, `p1_conf`, `p2_conf`, `p3_conf` are of type object and in different format
- The format of df's `name`, df_image's `p1`, `p2`, and `p3` are inconsistent, some lower-case some capitalized
- df_image's `jpg_url` has 66 duplicates
- `df_image`'s `d1_dog`, `d2_dog`, and `d3_dog` are of type object

### Tidiness Issues

- There should be 1 observational units in this dataset other than 3 units (3 tables). df_count and df_image should be part of the df table
- One variable (stage) in four columns (Doggo, floofer,	pupper,	puppo). Column headers should be values, not column names.

## Data Cleaning

In [129]:
# load the dataset if needed
df = pd.read_csv('twitter-archive-enhanced.csv')
df_image = pd.read_csv('df_image.csv')
df_count = pd.read_csv('df_count.csv')

In [130]:
# make a copy of original dataframes
df_clean = df.copy()
df_image_clean = df_image.copy()
df_count_clean = df_count.copy()

### 1. Clean missing data

##### Define

- doggo, floofer, pupper, puppo have values None, and of type object
- name have several *None* values

##### Code

Replace all the *None* values with np.nan values

In [139]:
# replace None to NaN
df_clean.replace('None', np.nan, inplace=True)

##### Test

In [140]:
df_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,NaN,NaN,NaN,NaN
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,NaN,NaN,NaN,NaN
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,NaN,NaN,NaN,NaN
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,NaN,NaN,NaN,NaN
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,NaN,NaN,NaN,NaN

In [141]:
df_clean.doggo.value_counts()

doggo    97
Name: doggo, dtype: int64

In [142]:
# all 'None' have been replaced by NaN
mask = np.column_stack(
    [df_clean[col].str.contains(r"None", na=False) \
                       for col in df_clean[['doggo', 'floofer', 'pupper', 'puppo']]])
mask.any(axis=0)

array([False, False, False, False])

In [157]:
# No more None values in column name
(df_clean.name == 'None').sum()

0

##### Define

- Missing values in df_image's last row.
- Multivalue and missing values in df's `expanded_urls` column
- Missing values in df's columns (`in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`)

##### Code

* Drop the last row in df_image data frame
* Replace the null value and the multivalue with single-valued content
* Drop columns (in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp)

In [143]:
# drop the last row in df_image table
df_image_clean.drop(index=[2075], inplace=True)

In [148]:
# replace all value of column expanded_urls with single value
df_clean.expanded_urls = \
['https://twitter.com/dog_rates/status/' + str(id_num) + '/photo/1' \
        for id_num in df_clean.tweet_id]

In [154]:
# drop the columns 
# in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, 
# and retweeted_status_timestamp in df table

df_clean.drop(columns=['in_reply_to_status_id', 'in_reply_to_user_id',
                       'retweeted_status_id', 'retweeted_status_user_id', 
                       'retweeted_status_timestamp'], axis=1, inplace=True)

##### Test

In [145]:
# no more null values in the table
df_image_clean.isnull().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [149]:
# now the urls are stored correctly
df_clean.expanded_urls.values

array(['https://twitter.com/dog_rates/status/892420643555336193/photo/1',
       'https://twitter.com/dog_rates/status/892177421306343426/photo/1',
       'https://twitter.com/dog_rates/status/891815181378084864/photo/1',
       ...,
       'https://twitter.com/dog_rates/status/666033412701032449/photo/1',
       'https://twitter.com/dog_rates/status/666029285002620928/photo/1',
       'https://twitter.com/dog_rates/status/666020888022790149/photo/1'],
      dtype=object)

In [152]:
df_clean.expanded_urls.value_counts()

https://twitter.com/dog_rates/status/772193107915964416/photo/1    1
https://twitter.com/dog_rates/status/849051919805034497/photo/1    1
https://twitter.com/dog_rates/status/751598357617971201/photo/1    1
https://twitter.com/dog_rates/status/706538006853918722/photo/1    1
https://twitter.com/dog_rates/status/678798276842360832/photo/1    1
                                                                  ..
https://twitter.com/dog_rates/status/708400866336894977/photo/1    1
https://twitter.com/dog_rates/status/685169283572338688/photo/1    1
https://twitter.com/dog_rates/status/677698403548192770/photo/1    1
https://twitter.com/dog_rates/status/805207613751304193/photo/1    1
https://twitter.com/dog_rates/status/732005617171337216/photo/1    1
Name: expanded_urls, Length: 2356, dtype: int64

In [155]:
# the columns (in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp)
# dropped
df_clean.columns

Index(['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name', 'doggo', 'floofer',
       'pupper', 'puppo'],
      dtype='object')